body {
  font-family: 'Saira Semi Condensed', sans-serif;
  background-color: #F0F0F0;
}

.start-chat {
  font-size: 19px;
  margin: 15px 0px;
}

.centered {
  position: absolute;
  color: #ffffff;
  top: 43%;
  left: 35%;
  transform: translate(-30%, -30%);
}

.chat-h4 {
  margin: 0px 0px 22px 0px;
}

.btn-chat-now {
  background: #ff5c5d;
  color: #ffffff;
  padding: 10px 40px;
  font-size: 1.1em;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 2px #a1a1a1;
}

.btn-chat-now:hover {
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
	box-shadow: 0px 0px 2px 2px #816969;
  background: #fc3a3b;
  color: #ffffff;
	cursor: pointer;
}

.btn-chat-now:active {
  color: #e7e4e4;
  background-color: #d92f2f;
}

.btn-chat-now:focus {
  background: #fc3435;
  color: #ffffff;
}

.btn-send {
  background: #00d789;
  color: #ffffff;
  padding: 10px 40px;
  font-size: 1.1em;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 2px #a1a1a1;
}

.btn-send:hover {
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
	box-shadow: 0px 0px 2px 2px #45aeb1;
  background: #00e2e9;
  color: #ffffff;
	cursor: pointer;
}

.btn-send:focus {
  color: #ffffff;
}


/*--------------- Footer Section ---------------*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #404040;
  color: white;
  padding: 20px 0;
  margin: 0 auto;
}


/*--------------------- Media Queries ---------------------*/
@media only screen and (max-width : 991px) {
  .centered {
    font-size: 10px;
    color: #000000;
    top: 40%;
    left: 35%;
    transform: translate(-30%, -30%);
  }
}

@media only screen and (max-width : 767px) {
  .centered {
    color: #ffffff;
  }
}
